/cmake-build
/cmake-build-linux
/cmake-build-android
/cmake-build-nacl
/libs
bin
obj
Tegra-Android
/Playground/native-activity/native-activity/native-activity.sdf
libs
/Playground/native-activity/native-activity/*.suo
