/cmake-build
/cmake-build-linux
/cmake-build-android
/cmake-build-nacl
/libs
bin
obj
libs
*.sdf
*.opensdf
*.suo
*.pexe
Debug
Tegra-Android
/Playground/Deps/FreeImage/lib
/Playground/NativeClient/NaCl32
/Playground/NativeClient/PNaCl
